@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  background: linear-gradient(to right, #5254d9, #35a173);
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content .people, .content .groups, .content .names_1 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .people input, .content .groups input, .content .names_1 input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #eee;
}
.content .change-type {
  align-self: center;
  padding: 5px;
  border-radius: 70px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.content .change-type:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.content .change-type span {
  font-size: 0.78rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.content .names_1 {
  align-self: center;
  position: relative;
}
.content .names_1 input {
  width: 100%;
}
.content .names_1 .enter {
  border-radius: 5px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.2s;
}
.content .names_1 .enter:hover {
  background-color: #ccc;
}
.content .auto-info {
  font-size: 0.78rem;
  align-self: flex-end;
}
.content .names_2 {
  display: flex;
  flex-direction: column;
}
.content .names_2 textarea {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #eee;
}
.content .show {
  display: flex;
}
.content .hide {
  display: none;
}

.wrap {
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
}
.wrap .name-list {
  margin-top: 20px;
  width: 90vw;
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  display: none;
}
.wrap .name-list li {
  padding: 5px;
  border-radius: 5px;
}
.wrap .name-list li .color {
  border-radius: 2px;
  padding: 0 4px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Nunito", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.1s;
}
.wrap .name-list li .color:hover {
  background-color: red;
  cursor: pointer;
}
.wrap .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrap .buttons .generate, .wrap .buttons .clear {
  margin-top: 15px;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
  font-size: 1rem;
  display: none;
}
.wrap .buttons .generate:hover, .wrap .buttons .clear:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.wrap .buttons .show-inline {
  display: flex;
}
.wrap .buttons .hide {
  display: none;
}
.wrap .result {
  align-self: center;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wrap .result ul {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
.wrap .result ul h5 {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {
  body {
    padding: 35px 10px;
  }
  .content {
    width: 100%;
  }
  .content .people, .content .groups, .content .names_1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .content .people input, .content .groups input, .content .names_1 input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */