*{
    margin:0;
    padding: 0;
}

:root{
    --theme-1: rgb(9, 138, 93);
    --theme-2: rgb(188, 97, 182);
    --theme-3: rgb(61, 59, 33);
    --theme-4: rgb(189, 96, 96);
    --theme-5: rgb(78, 78, 164);
    --theme-6: rgb(213, 204, 104);
    --theme-7: rgb(208, 94, 199);
    --theme-8: rgb(58, 133, 18);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-1);
    transition: background-color 1s;
}

.tab-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 15px;
    position: relative;
    gap: 25px;
}

.tab-bar__circle-indicator{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--theme-1);
    z-index: 0;
    transition: all .3s;
    opacity: .7;
}

.tab-bar__circle-indicator.animate{
    animation: circle 1s both;
}

svg{
    color: black
}

.tab-bar__item{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tab-bar-vertical{
    flex-direction: column;
}

.tab-bar__line-indicator{
    background-color: var(--theme-5);
    position: absolute;
    left: 2px;
    width: 10px;
    height: 60px;
    transition: all .3s 
}


@keyframes circle{
    0%{
        transform: scale3d(1,1,1);
    }
    25%{
        transform: scale3d(1.15,.85,1);
    }
    50%{
        transform: scale3d(.85,1.15,1);
    }
    75%{
        transform: scale3d(1.05,.95,1);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}