html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: linear-gradient(to right, rgb(20,20,180), aqua);
}
a{
    color: black;
    text-decoration: none;
}
.topbar{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #03adfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar .logo{
    height: 100%;
    background-color: lime;
    display: flex;
    flex: 1;
    align-items: center;
}
.topbar .logo img{
    margin-left: 10px; 
    width: 80px;
    height: 80px;
}
.topbar .logo p{
    font-size: 30px;
    margin-left: 5px;
}
.topbar .about{
    height: 100%;
    background-color: salmon;
    display: flex;
    flex: 2;
}
.topbar .about .info{
    height: 25px;
    align-self: flex-end;
    flex: 1;
    text-align: center;
    line-height: 25px;
}
.topbar .about .matches{
    background-color: wheat;
}
.topbar .about .standings{
    background-color: brown;
}
.topbar .about .news{
    background-color: blueviolet;
}
.topbar .about .players{
    background-color: yellow;
}
.topbar .sosmed{
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.topbar .sosmed .nav{
    width: 50px;
    height: 50px;
    background-color: rgba(20,20,200);
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar .sosmed .ig{
    background: linear-gradient(45deg,#405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d );
}
.topbar .sosmed .twt{
    background: linear-gradient(45deg, #1da1f2, #0078d7);
}
.topbar .sosmed .yt{
    background: linear-gradient(45deg, rgba(235, 21, 21), rgb(235, 54, 99));
}
.topbar .sosmed .yt{
    margin-right: 40px;
}
.content{
    width: 50%;
    margin: 100px auto;
    padding: 10px;
    background-color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.content .event{
    height: 96px;
    background-image: url(epl1.png);
    background-repeat: no-repeat;
}
.content div.team{
    background-color: aqua;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content div.teamsatu{
    width: 48px;
    height: 48px;
    background-image: url(liv.png);
    background-size: cover;
}
.content div.teamdua{
    width: 48px;
    height: 48px;
    background-image: url(mci.png);
    background-size: cover;
}
.content .bar{
    margin-top: 70px;
    height: 25px;
    display: flex;
    align-items: center;
}
.content .bar .lineup{
    background-color: lime;
    flex: 1;
    text-align: center;
    line-height: 25px;
}
.content .bar .stat{
    background-color: red;
    flex: 1;
    text-align: center;
    line-height: 25px;
}


