@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter&family=Nunito&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 50px;
  background-color: #328eb9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 3px;
  border: 1px solid #000;
}
.container .content .big-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #000;
}
.container .content .big-box .box {
  width: 45px;
  height: 45px;
  font-size: 1.7rem;
  border: 1px solid #888;
  background-color: #eee;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content .big-box .click {
  background-color: #549abb;
}
.container .content .big-box .side-click {
  background-color: #bbb;
}
.container .content .big-box .color-blue {
  color: blue;
}
.container .content .big-box .color-red {
  color: red;
}
.container .content .big-box .bg-red {
  background-color: rgba(255, 0, 0, 0.7);
}
.container .tools {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .tools .top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .tools .top .erase {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.2s;
}
.container .tools .top .erase:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.container .tools .top .erase div {
  font-size: 0.8rem;
}
.container .tools .top .new-game {
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.container .tools .top .new-game:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.container .tools .numbers {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
.container .tools .numbers .number {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 2.1rem;
}
.container .tools .numbers .number:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 600px) {
  body {
    padding: 25px;
    gap: 25px;
  }
  .container {
    flex-direction: column;
  }
  .container .content {
    width: 95vw;
    height: 95vw;
  }
  .container .content .big-box .box {
    font-size: 1.5rem;
    width: calc((95vw - 8px) / 9);
    height: calc((95vw - 8px) / 9);
  }
  .container .tools {
    align-items: center;
  }
  .container .tools .numbers {
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */