@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00746a;
  padding: 10px 0;
}

.left {
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 20px #222;
}
.left .roll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: green;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 10px 20px #222;
  transition: all 0.3s;
  z-index: 3;
}
.left .roll:hover {
  transform: scale(0.9);
}
.left .dice {
  transition: all 1s;
}
.left .dice img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.left .rolling {
  -webkit-animation: rolling 1s forwards;
          animation: rolling 1s forwards;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  width: calc(100vh - 20px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  position: relative;
}
.container .board {
  background-color: rgb(255, 151, 65);
  border-radius: 5px;
  transition: all 0.3s;
}
.container .pawn {
  z-index: 3;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(calc(5px + (100vh - 75px) / 20 * 1 - 12.5px), calc((10px + (100vh - 75px) / 10 * 0 + 0px) * -1));
  transition: all 1s;
}
.container .pawn img {
  width: 25px;
}
.container .ladder1 {
  width: 40px;
  height: 210px;
  transform: rotate(17deg);
  bottom: 15px;
  left: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.container .ladder1 .stairs1 {
  width: 100%;
  height: 4px;
  background-color: green;
  z-index: 1;
}
.container .ladder1 .side11, .container .ladder1 .side12 {
  position: absolute;
  width: 4px;
  height: 100%;
  border-radius: 10px;
  background-color: green;
}
.container .ladder1 .side11 {
  left: 0;
}
.container .ladder1 .side12 {
  right: 0;
}
.container .ladder2 {
  width: 40px;
  height: 160px;
  transform: rotate(-25deg);
  bottom: 265px;
  left: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .ladder2 .stairs2 {
  width: 100%;
  height: 4px;
  background-color: green;
}
.container .ladder2 .side21, .container .ladder2 .side22 {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: green;
  border-radius: 10px;
}
.container .ladder2 .side21 {
  left: 0;
}
.container .ladder2 .side22 {
  right: 0;
}
.container .ladder3 {
  width: 40px;
  height: 315px;
  transform: rotate(52deg);
  left: 140px;
  bottom: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.container .ladder3 .stairs3 {
  width: 100%;
  height: 4px;
  background-color: green;
}
.container .ladder3 .side31, .container .ladder3 .side32 {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: green;
  border-radius: 10px;
}
.container .ladder3 .side31 {
  left: 0;
}
.container .ladder3 .side32 {
  right: 0;
}
.container .snake1 {
  height: 220px;
  position: absolute;
  left: 450px;
  bottom: 320px;
  transform: rotate(-30deg);
}
.container .snake2 {
  height: 150px;
  position: absolute;
  left: 400px;
  bottom: 20px;
  transform: scaleX(-1) rotate(-50deg);
}
.container .snake3 {
  height: 220px;
  position: absolute;
  left: 110px;
  bottom: 250px;
  transform: scaleX(-1) rotate(-20deg);
}

.won {
  padding: 20px;
  font-size: 30px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: none;
}
.won a {
  padding: 10px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@-webkit-keyframes rolling {
  from {
    transform: rotate(450deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes rolling {
  from {
    transform: rotate(450deg);
  }
  to {
    transform: rotate(0);
  }
}/*# sourceMappingURL=style.css.map */