@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Shadows+Into+Light&display=swap');

body{
	min-height: 100vh;
	background: linear-gradient(to right, rgb(54, 163, 235), rgb(54, 235, 84));
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	width: 600px;
	background: linear-gradient(180deg, rgb(31, 161, 52), rgb(28, 64, 140));
	padding: 50px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 18px 30px #333;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.container .foto img{
	width: 200px;
	border-radius: 20px;
	box-shadow: 0 10px 20px #333;
}
.container .welcome{
	font-size: 25px;
}
.container .link{
	display: flex;
	gap: 100px;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .link .surat{
	color: rgb(49, 48, 217);
	width: 50px;
	height: 50px;
	background: linear-gradient(45deg,rgb(216, 48, 202), rgb(112, 217, 48));
	border-radius: 20px;
	box-shadow: 0 10px 20px #333;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s;
}
.container .link .pesan{
	color: rgb(49, 48, 217);
	width: 50px;
	height: 50px;
	background: linear-gradient(45deg,rgb(112, 217, 48), rgb(216, 48, 202));
	border-radius: 20px;
	box-shadow: 0 10px 20px #333;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s;
}
.surat:hover{
	transform: scale(1.1) translateY(-7px);
}
.pesan:hover{
	transform: scale(1.1) translateY(-7px);
}


@media (max-width: 768px){
    .container{
        width: 280px;
		padding: 20px;
		font-size: 13px;
    }
	.container .welcome{
		font-size: 18px;
	}
	.container .foto img{
		width: 120px;
	}
}