@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(to right, rgb(177, 237, 64), rgb(130, 64, 237)); */
    background-image: url(bumi.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    background: rgb(202, 231, 212,.7);
    padding: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-indent: 20px;
}
.container::before{
    content: '';
    position: absolute;
    background: rgb(202, 231, 212,.5);
    border-radius: 10px;
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}
@media (max-width: 768px){
    body{
        padding: 20px;
    }
    .container{
        width: 280px;
    }
}