@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(29, 137, 127), rgb(36, 126, 51));
}

.awal{
    display: none;
}

.container{
    width: 700px;
    background: rgb(255, 255, 255,.1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.side-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-top: -15px;
}

.foto img{
    border-radius: 50%;
}
.satu{
    font-size: 40px;
}

span a{
    text-decoration: none;
    color: black;
}

span a:hover{
    text-decoration: underline;
}
.sosmed{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ig,.fb,.twt{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgb(0 0 0);
}

.sosmed a{
    transition: all .2s;
}
.ig{
    background: linear-gradient(45deg, rgb(237, 229, 38), rgb(237, 38, 38), rgb(237, 38, 181), rgb(87, 38, 237) );
}

.fb{
    background: #3F65A6;
}

.twt{
    background: #00AAEC;
}
svg{
    color: white;
    width: 30px;
    height: 30px;
}

.sosmed a:hover{
    transform: scale(1.15);
}

.garis{
    height: 1px;
    width: 100%;
    background: black;
}

.isi{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coding-exp,.education,.goals{
    padding: 10px;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(51, 51, 59);
}

.coding-exp{
    background: rgb(90, 173, 105,.4);
}

.education{
    background: rgb(90, 167, 173,.4);
    height: 100%;
}

.goals{
    background: rgb(214, 212, 66,.2);
}

.text1,.text2,.text3{
    text-align: justify;
}

.img1 img,.img2 img,.img3 img{
    width: 150px;
    height: 150px;
}

.img2 img,.img3 img{
    margin-top: -15px;
}

.hidden{
    display: none;
}

.show{
    display: inline;
}

.text1 span:nth-child(1),.text2 span:nth-child(1),.text3 span:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.text2{
    order: 1
}

.trans{
    opacity: 0;
    animation: trans 2s forwards;
}


@keyframes trans{
    to{
        opacity: 1;
    }
}

@media (max-width: 576px){
    body{
        padding: 20px;
    }
    .container{
        width: 100%;
        border-radius: 15px;
        gap: 20px;
    }
    .awal{
        display: block;
        font-size: 35px;
        margin: auto;
    }    
    .info{
        margin-top: -15px;
        justify-content: center;
        flex-direction: column;
    }
    .side-info{
        margin: auto;
    }
    .satu{
        display: none;
    }
    .foto{
        margin: auto;
    }
    .foto img{
        width: 150px;
        height: 150px;
    }
    .sosmed{
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .img1 img,.img2 img,.img3 img{
        width: 80px;
        height: 80px;
    }
}


